.main-image {
  height: 100%;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s;
  }
}
.image img{
  cursor: pointer;
  transition: 0.3s;
}
.cart-details {
  .colors {
    span {
      display: inline-block;
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
  }
  .sizes {
    span {
      background-color: rgb(206, 206, 206);
      border-radius: 20px;
      cursor: pointer;
      font-weight: 600;
    }
  }
}
.image img:hover {
  transform: scale(1.05);
}
/* Activated */
button.nav-link{
  width: 33%;
}
button.active{
  color: black !important;
  border-bottom: 3px solid black !important;
}

.sizes span.active {
  background-color: black !important;
  color: white !important;
}

.colors span.active {
  border:2px solid black !important;
}

